body,
html {
  height: 100%;
}

#App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #264653;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 100px;
}

h2 {
  color: #2a9d8f;
  font-size: 42px;
  padding: 2px;
}

p,
li,
a {
  color: #264653;
  font-size: 14px;
  padding: 3px;
}

h3 {
  color: #264653;
  font-size: 28px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    color: #2a9d8f;
    font-size: 28px;
  }

  p,
  li {
    color: #264653;
    font-size: 14px;
  }

  h3 {
    color: #2a9d8f;
    font-size: 14px;
  }
}

#btn_home {
  background-color: #2a9d8f;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 11px 25px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 80px;
  font-size: 14px;
  margin: 3px;
}

#btn_home:hover {
  background-color: #d45333;
}

@media screen and (max-width: 850px) {
  #btn_home {
    font-size: 11px;
    padding: 10px 20px;
  }
}

#btn_small {
  background-color: #2a9d8f;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  font-size: 9px;
  position: relative;
  z-index: 4;
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

#btn_small:hover {
  background-color: #6bbeb5;
}

#btn_small:active {
  background-color: #217c72;
}
